<!DOCTYPE html>
<html lang="pt-BR">
<head>      
     
    
    <!-- Latest JQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    
    {% load bootstrap3 %}
    {% bootstrap_css %}

    <!-- Custom CSS -->
    <link href="static/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="static/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="/static/files/css/style.css" />
    

    {% block title %} <title>Projetos</title> {% endblock title %}

  <style> body { padding-top: 70px; } </style>
    
</head>

<body>
      <div id="wrapper">
        {% include "menu.html" %}
        
        <div id="page-wrapper">
          {% block content %}

          {% endblock content %}
        </div>
    </div>
   
   
  {% block javascript %}

    {% bootstrap_javascript %}

    <script src="static/js/jquery.js"></script>

    <script src="static/js/plugins/flot/jquery.flot.js"></script>
    <script src="static/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="static/js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="static/js/plugins/flot/jquery.flot.pie.js"></script>
    <script src="static/js/plugins/flot/flot-data.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>


    <script src="/static/js/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script>
        function myFunction() {
            console.log("lala");
            $("#startTest").addClass('hidden');
            $("#stopTest").removeClass('hidden');
            $("#ErrorAlert").removeClass('hidden');
        }
    </script>
    
    
    {{ form.media }}
    
  {% endblock javascript %}

</body>
</html>
