<!DOCTYPE html>
<html lang="pt-BR">
<head>      
    <meta charset="utf-8">
    
    <!-- Latest JQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    
    {% load bootstrap3 %}
    {% bootstrap_css %}

    <link rel="stylesheet" href="/static/files/css/style.css" />
    

    {% block title %} <title>Desgaste de Materiais</title> {% endblock title %}

  <style> body { padding-top: 70px; } </style>
    
</head>

<body>
      <div class="container">
        
        {% block content %}

        {% endblock content %}
      </div>
   
   
  {% block javascript %}

    
    <script src="/static/js/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    
  {% endblock javascript %}

</body>
</html>

