<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Test StandWEB</a>
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> João Gabriel <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li class="h4">
                <!--fa-plus-square-->
                <a href="index.html"><i class="fa fa-fw fa-plus-square"></i> Start New Test</a>
            </li>
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="#"><i class="fa fa-file" aria-hidden="true" style="color:#5cb85c"></i> Bronzina e Virabrequim<br>&nbsp&nbsp&nbsp&nbsp30/07/2016</a>
            </li>
            <li class="active">
                <a href="#"><i class="fa fa-file" aria-hidden="true" style="color:#5cb85c"></i> Ensaio #6 <br>&nbsp&nbsp&nbsp&nbsp26/07/2016</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-file" aria-hidden="true" style="color:#5cb85c"></i> Ensaio #5 <br>&nbsp&nbsp&nbsp&nbsp26/07/2016</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-file" aria-hidden="true" style="color:#f0ad4e"></i> Ensaio #4 <br>&nbsp&nbsp&nbsp&nbsp29/07/2016</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-file" aria-hidden="true" style="color:#5cb85c"></i> Ensaio #3 <br>&nbsp&nbsp&nbsp&nbsp26/07/2016</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-file" aria-hidden="true" style="color:#d9534f"></i> Ensaio #2 <br>&nbsp&nbsp&nbsp&nbsp26/07/2016</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-file" aria-hidden="true" style="color:#5cb85c"></i> Ensaio #1 <br>&nbsp&nbsp&nbsp&nbsp25/07/2016</a>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>